In [1]:
import pandas as pd

In [2]:
main_data = pd.read_csv('shootings.csv')
main_data

,manner_of_death,armed,age,gender,race,city,state,flee,body_camera,arms_category,year
0,shot,gun,53.0,M,Asian,Shelton,WA,Not fleeing,False,Guns,2015
1,shot,gun,47.0,M,White,Aloha,OR,Not fleeing,False,Guns,2015
2,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,Not fleeing,False,Unarmed,2015
3,shot,toy weapon,32.0,M,White,San Francisco,CA,Not fleeing,False,Other unusual objects,2015
4,shot,nail gun,39.0,M,Hispanic,Evans,CO,Not fleeing,False,Piercing objects,2015
...,...,...,...,...,...,...,...,...,...,...,...
4890,shot,Taser,27.0,M,Black,Atlanta,GA,Foot,True,Electrical devices,2020
4891,shot,gun,23.0,M,Black,Crown Point,IN,Car,False,Guns,2020
4892,shot,unarmed,25.0,F,White,Sedalia,MO,Not fleeing,False,Unarmed,2020
4893,shot,gun,22.0,M,White,Kansas City,MO,Other,False,Guns,2020
4894,shot,gun,31.0,M,White,Lawrence,KS,Car,False,Guns,2020

Process for stack area chart

In [3]:
df1 = pd.DataFrame(columns = ['year', 'total_case', 'unarmed_case'])
years = [2015,2016,2017,2018,2019]
for i in range(5):
    df1.loc[i] = {'year': years[i], 'total_case': len(main_data[main_data.year==years[i]]),\
                  'unarmed_case': len(main_data[(main_data.year==years[i])&(main_data.armed=='unarmed')])}
df1

   year total_case unarmed_case
0  2015        965           94
1  2016        904           51
2  2017        906           69
3  2018        888           57
4  2019        858           55

In [5]:
df1.to_csv('stack_area_chart_data.csv')

Process for map and bar chart

In [11]:
df2 = pd.DataFrame(columns = ['key', 'year', 'state', 'total_case', 'unarmed_case'])
years = [2015,2016,2017,2018,2019]
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
for year in years:
    for state in states:
       df2 = df2.append({'key': str(year)+state, 'year': year, 'state': state, \
                    'total_case': len(main_data[(main_data.year==year)&(main_data.state==state)]), \
                   'unarmed_case': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.armed=='unarmed')]) },\
                  ignore_index='True')
df2

        key  year state total_case unarmed_case
0    2015AK  2015    AK          4            0
1    2015AL  2015    AL         17            2
2    2015AR  2015    AR          4            1
3    2015AZ  2015    AZ         42            3
4    2015CA  2015    CA        182           22
..      ...   ...   ...        ...          ...
250  2019VT  2019    VT          2            0
251  2019WA  2019    WA         30            3
252  2019WI  2019    WI         17            1
253  2019WV  2019    WV         12            1
254  2019WY  2019    WY          1            0

[255 rows x 5 columns]

In [12]:
df2.to_csv('map_and_bar_data.csv')

Recorded vs. Unrecorded, state wise and national

In [4]:
#State wise
df3 = pd.DataFrame(columns = ['key', 'year', 'state', 'recorded', 'unrecorded'])
years = [2015,2016,2017,2018,2019]
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
for year in years:
    for state in states:
        df3 = df3.append({'key': str(year)+state, 'year': year, 'state': state, \
                    'recorded': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.body_camera==True)]), \
                   'unrecorded': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.body_camera==False)]) },\
                  ignore_index='True')
df3

        key  year state recorded unrecorded
0    2015AK  2015    AK        0          4
1    2015AL  2015    AL        3         14
2    2015AR  2015    AR        0          4
3    2015AZ  2015    AZ        2         40
4    2015CA  2015    CA       21        161
..      ...   ...   ...      ...        ...
250  2019VT  2019    VT        0          2
251  2019WA  2019    WA        4         26
252  2019WI  2019    WI        1         16
253  2019WV  2019    WV        1         11
254  2019WY  2019    WY        0          1

[255 rows x 5 columns]

In [5]:
df3.to_csv('if_recorded_state_wise.csv')

In [6]:
#National
df4 = pd.DataFrame(columns = ['year','recorded', 'unrecorded'])
years = [2015,2016,2017,2018,2019]

for year in years:
        df4 = df4.append({'year': year,\
                    'recorded': len(main_data[(main_data.year==year)&(main_data.body_camera==True)]), \
                   'unrecorded': len(main_data[(main_data.year==year)&(main_data.body_camera==False)]) },\
                  ignore_index='True')
df4

   year recorded unrecorded
0  2015       74        891
1  2016      137        767
2  2017       99        807
3  2018      109        779
4  2019      121        737

In [7]:
df4.to_csv('if_recorded_national.csv')

Prepare for ethnicity, state wise vs. national

In [8]:
df5 = pd.DataFrame(columns = ['key', 'year', 'state', 'Asian', 'Black', 'Hispanic', 'Native', 'Other', 'White'])
years = [2015,2016,2017,2018,2019]
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
for year in years:
    for state in states:
        df5 = df5.append({'key': str(year)+state, 'year': year, 'state': state, \
                    'Asian': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Asian')]), \
                        'Black': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Black')]) ,\
                         'Hispanic': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Hispanic')]) ,\
                         'Native': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Native')]) ,\
                         'Other': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Other')]) ,\
                         'White': len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='White')]) },\
                  ignore_index='True')
df5

        key  year state Asian Black Hispanic Native Other White
0    2015AK  2015    AK     0     0        0      2     0     2
1    2015AL  2015    AL     0     6        0      0     0    11
2    2015AR  2015    AR     0     1        0      0     0     3
3    2015AZ  2015    AZ     0     1       12      2     0    27
4    2015CA  2015    CA     8    34       76      0     7    57
..      ...   ...   ...   ...   ...      ...    ...   ...   ...
250  2019VT  2019    VT     0     0        0      0     0     2
251  2019WA  2019    WA     2     8        8      1     0    11
252  2019WI  2019    WI     1     3        3      0     0    10
253  2019WV  2019    WV     1     2        0      0     0     9
254  2019WY  2019    WY     0     0        0      1     0     0

[255 rows x 9 columns]

In [10]:
df5.to_csv('ethnicity_state_wise.csv')

In [9]:
#National
df6 = pd.DataFrame(columns = ['year','Asian', 'Black', 'Hispanic', 'Native', 'Other', 'White'])
years = [2015,2016,2017,2018,2019]

for year in years:
        df6 = df6.append({'year': year, \
                    'Asian': len(main_data[(main_data.year==year)&(main_data.race=='Asian')]), \
                        'Black': len(main_data[(main_data.year==year)&(main_data.race=='Black')]) ,\
                         'Hispanic': len(main_data[(main_data.year==year)&(main_data.race=='Hispanic')]) ,\
                         'Native': len(main_data[(main_data.year==year)&(main_data.race=='Native')]) ,\
                         'Other': len(main_data[(main_data.year==year)&(main_data.race=='Other')]) ,\
                         'White': len(main_data[(main_data.year==year)&(main_data.race=='White')]) },\
                  ignore_index='True')
df6

   year Asian Black Hispanic Native Other White
0  2015    14   258      172      9    15   497
1  2016    15   234      160     16    11   468
2  2017    16   224      179     22     6   459
3  2018    21   229      165     15     4   454
4  2019    19   250      163     13     9   404

In [11]:
df6.to_csv('ethnicity_national.csv')

Unarmed shootings proportion by ethnicity state wise vs. national

In [14]:
#state wise
df7 = pd.DataFrame(columns = ['key', 'year', 'state', 'Asian_proportion', 'Black_proportion', 'Hispanic_proportion', \
                              'Native_proportion', 'Other_proportion', 'White_proportion'])
years = [2015,2016,2017,2018,2019]
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
for year in years:
    for state in states:
        df7 = df7.append({'key': str(year)+state, 'year': year, 'state': state, \
                    'Asian_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Asian')])==0 else len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Asian')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Asian')]), \
                        'Black_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Black')])==0 else len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Black')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Black')]) ,\
                         'Hispanic_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Hispanic')])==0 else len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Hispanic')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Hispanic')]) ,\
                         'Native_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Native')])==0 else len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Native')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Native')]) ,\
                         'Other_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Other')])==0 else len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Other')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='Other')]) ,\
                         'White_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='White')])==0 else len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='White')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.state==state)&(main_data.race=='White')]) },\
                  ignore_index='True')
df7

,key,year,state,Asian_proportion,Black_proportion,Hispanic_proportion,Native_proportion,Other_proportion,White_proportion
0,2015AK,2015,AK,N/A,N/A,N/A,0,N/A,0
1,2015AL,2015,AL,N/A,0.166667,N/A,N/A,N/A,0.0909091
2,2015AR,2015,AR,N/A,1,N/A,N/A,N/A,0
3,2015AZ,2015,AZ,N/A,0,0.0833333,0,N/A,0.0740741
4,2015CA,2015,CA,0,0.147059,0.131579,N/A,0.285714,0.0877193
...,...,...,...,...,...,...,...,...,...
250,2019VT,2019,VT,N/A,N/A,N/A,N/A,N/A,0
251,2019WA,2019,WA,0.5,0,0.125,0,N/A,0.0909091
252,2019WI,2019,WI,0,0,0,N/A,N/A,0.1
253,2019WV,2019,WV,0,0,N/A,N/A,N/A,0.111111
254,2019WY,2019,WY,N/A,N/A,N/A,0,N/A,N/A

In [16]:
df7.to_csv('unarmed_shooting_by_eth_state_wise.csv')

In [18]:
#state wise
df8 = pd.DataFrame(columns = ['year', 'Asian_proportion', 'Black_proportion', 'Hispanic_proportion', \
                              'Native_proportion', 'Other_proportion', 'White_proportion'])
years = [2015,2016,2017,2018,2019]

for year in years:
        df8 = df8.append({'year': year, \
                    'Asian_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.race=='Asian')])==0 else len(main_data[(main_data.year==year)&(main_data.race=='Asian')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.race=='Asian')]), \
                        'Black_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.race=='Black')])==0 else len(main_data[(main_data.year==year)&(main_data.race=='Black')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.race=='Black')]) ,\
                         'Hispanic_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.race=='Hispanic')])==0 else len(main_data[(main_data.year==year)&(main_data.race=='Hispanic')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.race=='Hispanic')]) ,\
                         'Native_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.race=='Native')])==0 else len(main_data[(main_data.year==year)&(main_data.race=='Native')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.race=='Native')]) ,\
                         'Other_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.race=='Other')])==0 else len(main_data[(main_data.year==year)&(main_data.race=='Other')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.race=='Other')]) ,\
                         'White_proportion': 'N/A' if len(main_data[(main_data.year==year)&(main_data.race=='White')])==0 else len(main_data[(main_data.year==year)&(main_data.race=='White')&(main_data.armed=='unarmed')]) / len(main_data[(main_data.year==year)&(main_data.race=='White')]) },\
                  ignore_index='True')
df8

,year,Asian_proportion,Black_proportion,Hispanic_proportion,Native_proportion,Other_proportion,White_proportion
0,2015.0,0.000000,0.147287,0.110465,0.111111,0.266667,0.064386
1,2016.0,0.000000,0.081197,0.056250,0.062500,0.000000,0.047009
2,2017.0,0.062500,0.098214,0.072626,0.045455,0.166667,0.067538
3,2018.0,0.047619,0.100437,0.048485,0.000000,0.000000,0.055066
4,2019.0,0.210526,0.056000,0.067485,0.076923,0.000000,0.061881

In [20]:
df8.to_csv('unarmed_shooting_by_eth_national.csv')